<div class="new-story-page">
<h3 class="header">the story continues ... </h3>

<%= react_component('NewSentence')%>

<% if flash[:alert] == "You may only write one sentence at a time." %>
  <div class="alert alert-danger alert-sm alert-dismissible" role="alert">
    <strong>Uh oh!</strong> You can only write one sentence at a time.
  </div>
<% elsif flash[:alert] == "Story created successfully!" %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= flash[:alert] %>
  </div>
<% end %>
</div>
