<div class="container new-story">
  <h3>Write a story about <%= @words.sample %></h3>

  <form method="post" action="/stories">
    <div class="form-group">
      <label>Once upon a time...</label>
      <input type="text" class="form-control" placeholder="write your sentence here" name="first_sentence">
    </div>
    <button type="submit" class="btn btn-primary">create</button>
  </form>
</div>
