
<div class="container new-story">

<h3 class="new_story_header header">start a story</h3>
<div class="new-story-group">
  <span class="additional-info">Need inspiration? Write a story about <%= @words.sample %></span><br>

  <form class="new-story-form" method="post" action="/stories">
    <div class="form-group">
      <input id="add-a-title" type="text" class="form-control" placeholder="add a title" name="title">
    </div>
    <div class="form-group">
      <label>Once upon a time...</label>
      <input id="first-sentence-text" type="text" class="form-control" placeholder="write your sentence here" name="first_sentence">
    </div>
    <button id="submit-story-button" type="submit" class="btn btn-primary">create</button>
  </form>
  </div>
</div>
