/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
.navbar {
  margin-bottom: 50px;
}

.user-nav {
  position: relative;
  left: 740px;
}

.new-story {
  padding-top: 80px;
}

/*User Profile Page*/
.col-md-8 {
  padding-bottom: 30px;
}

.list-group-item {
  text-align: left;
}

.thumbnail {
  border: 2px solid #f7f7f9;
  padding: 10px;
  text-align:center;
  border-radius: 5px;
  min-width: 300px;
}

.thumbnail > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

.panel-default {
  border: 2px solid #f7f7f9;
  padding: 20px;
  border-radius: 5px;
  margin: 0 0 10px 10px;
}
.panel-heading {
  border-bottom: .5px solid #26CED0;
  margin-bottom: 15px;
}

.sentence-header {
  text-align: center;
  margin-top: 50px;
}

.new_story_header {
  margin-bottom: 30px;
}

.uncomplete-story {
  color: transparent;
  text-shadow: 1px 1px 10px black;
}

.sentence-add {
  text-shadow: none;
  color: black;
}

.vote-total {
  position: relative;
  left: 17px;
}

.additional-info {
  font-size: 12px;
  text-decoration: italic;
  color: silver;
}

.well {
  padding: 5px;
  border-radius: 5px;
  background-color: #f7f7f9;
}

.btn {
  background-color: #26CED0 !important;
  border-color: #26CED0 !important;
}

.btn:hover {
  background-color: lightpink !important;
  border-color: lightpink !important;
}

.vote-btn {
  background: none !important;
  border: none !important;
}

.vote-btn:hover {
  background-color: white !important;
  border-color: white !important;
}

.thumb:hover {
  color: #26ced0;
}

.navbar {
  background: rgba(38, 206, 208, 0.6) !important;
}

.jumbotron {
  background-color: #f7f7f9 !important;
}

.story-show-info {
  position: relative;
  bottom: 10px;
}
