<!DOCTYPE html>
<html>
  <head>
    <title>MadPhone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <ul>
        <li>MadPhone</li>
        <li><a>Rachael</a></li>
      </ul>
      <ul>
        <li><a>Browse</a></li>
        <li><a>Contribute</a></li>
        <li><a>Create</a></li>
      </ul>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
